@page "{postid?}"
@model PostModel

<div class="horizontal-center">
    <div style="height: 15px;"></div>
    <div class="flex-center">
        @switch (Model.ContentType)
        {
            case Types.ContentType.Image:
                <img class="image-post" src=/@Model.baseImageUrl />
                break;
            case Types.ContentType.Video:
                <video controls class="image-post" autoplay muted loop >
                    <source src="/@Model.baseImageUrl" type="video/mp4">
                </video>
                break;
            default:
                break;
        }
        
    </div>
    <div style="height: 20px;"></div>
    <div id="postinfo">
        <div class="text">
            <a href="/@Model.originalImageUrl">Original</a> 
            <a href="/@Model.originalImageUrl" download="@RouteData.Values["postid"]" >Download</a>
        </div>

        <div class="text" id="uploadtime">
            <span>Upload at </span>
            <span>@Model.createTime</span>
        </div>
        <script>
            //this js code try convert utc date to user locale
            var time = new Date("@Model.createTime");
            document.getElementById("uploadtime").children[1].textContent = time.toLocaleString();
        </script>

        <div class="text">
            Author: <a href="/users/@Model.authorId">@Model.authorName</a>
        </div>
        <div id="tags">
            <h1 class="text">Tags:</h1>
            <div id="tag-flexbox" class="tags-flex">
                @foreach(var tag in @Model.tags){
                    <a href="/?tags=@tag.SearchText">
                        <p class="text">
                            @tag.FullText
                        </p>
                    </a>
                }
            </div>
        </div>
    </div>
</div>